llama-index-multi-modal-llms-gemini
llama-index-embeddings-gemini
llama-index-llms-gemini
llama-index[google-generativeai]>=0.3.0
llama-index[matplotlib]
llama-index-vector-stores-lancedb
llama-index-embeddings-clip
llama_index[ftfy]
llama_index[regex]
llama_index[tqdm]
openai-whisper
torch
torchvision
scikit-image
moviepy
pytube
pydub
SpeechRecognition
ffmpeg-python
soundfile
gradio
opencv-python-headless
imageio
llama-index-embeddings-huggingface
llama-index-embeddings-instructor
